html, body { 
    background-color: #F7F9FD;
}
.border-padding {
    border: 1px solid #F1EEF2;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding: 20px;
}
.search-input {
    width: 100%;
    height: 55px;
    padding-right: 60px;
}

.search {
    background: url(search.png) no-repeat center right 20px #fff;
}

.arrow {
    background: url(arrow.png) no-repeat center right 20px #fff;
}

#result-list {
    background: #fff;
    position: relative;
    top: 12px;
}

#result-footer {
  border-top: 2px solid #F1EEF2;
  margin: auto -20px;
}

#result-list:after, 
#result-list:before {
    bottom: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

#result-list:after {
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #ffffff;
    border-width: 19px;
    left: 20%;
    margin-left: -19px;
}
#result-list:before {
    border-color: rgba(113, 158, 206, 0);
    border-bottom-color: #F1EEF2;
    border-width: 20px;
    left: 20%;
    margin-left: -20px;
}

.list-header {
    border-bottom: 1px solid #5883FF;
    color: #5883FF;
}
.rating-div {
    color: #9B9B9B;

}

.movie-title {
    font-size: 1.2rem;
}